<!DOCTYPE html>
<html>
<head>
    <% include ../views/partials/head.ejs %>
    <script src="/javascripts/makeActive.js"></script>
    <% if (edit) { %>
    <script src="/javascripts/uploadAvatar.js"></script>
    <% } %>
</head>
<body page-type="user">
<% include ../views/partials/header.ejs %>
<div class="container">
    <h1><%= title %></h1>

    <div class="panel panel-default">
        <div class="panel-heading">About <%= matchedUser.username %>:</div>
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><%= matchedUser.username %></td>
            </tr>
            <tr>
                <td>Registered:</td>
                <td><%= matchedUser.registered %></td>
            </tr>
            <tr>
                <td>Avatar:
                    <% if (edit) { %>
                    <div class="changeAvatar">change</div>
                    <% } %>
                </td>
                <td><img class="avatarBig" src="<%= matchedUser.avatar %>" alt=""/></td>
            </tr>
            <tr>
                <td>Efficiency: <span class="glyphicon glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                      data-placement="top" title="Proportion between wins and defeats."
                                      aria-hidden="true"></span>
                </td>
                <td>
                    <div class="progress" data-toggle="tooltip" data-html="true" data-placement="top"
                         title="<span class='green'>Wins: </span><%= matchedUser.wins %><span class='red'> Loses: </span><%= matchedUser.loses %>">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= matchedUser.efficiency %>"
                             aria-valuemin="0" aria-valuemax="100" style="width: <%= matchedUser.efficiency %>%;">
                            <%= matchedUser.efficiency %>%
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <% if (edit) { %>
    <form id='avatar' class="hidden" role="form" method='post' action="/user/<%= matchedUser.username %>"
          enctype="multipart/form-data">
        <div class="file_upload">
            Add avatar:
                <span class="btn btn-default btn-file">
                    Browse <input type="file" name="files" class="avatar" accept="image/x-png, image/gif, image/jpeg">
                </span>
            <button id='uploadImage' class="btn btn-success" type="submit">Upload</button>
            <div id="preview" class="thumbnail"></div>
        </div>
    </form>
    <% } %>
</div>
<script>
    // activate Tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
